.comp-blogcard-base{
    width: 485px;
    height: 251px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--SECONDERY);
    padding: 15px;
    box-sizing: border-box;
    color: white;
    font-family: "inter";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comp-blogcard-title{
    display: -webkit-box; /* Ensures compatibility with WebKit-based browsers */
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
    -webkit-box-orient: vertical; /* Specifies the box orientation */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}
.comp-blogcard-desc{
margin: 5px 0px;
text-align: justify;
display: -webkit-box; /* Ensures compatibility with WebKit-based browsers */
    -webkit-line-clamp: 7; /* Limits the text to 2 lines */

    -webkit-box-orient: vertical; /* Specifies the box orientation */  
    overflow: hidden;
    text-overflow: ellipsis;     

}
.comp-blogcard-showmore{
text-align: center;
position: relative;
cursor:  url('cursor-pointer.png'), auto;
user-select: none;


}
.comp-blogcard-showmore-title{
text-transform: uppercase;
font-weight: bold;

}
.comp-blogcard-showmore-icon{
position: absolute;
left: calc(50% - 22px);
top:calc(50% - 8px) ;
}