:root{
    --Primary: #3D52A0;
    --HIGHLIGHT: #ADBBDA;
    --LUMINANCE: #F2F2F2;
    --SECONDERY: #7091E6;
}
html{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
}

.comp-nav-nav{
width: 100%;
height: 70px;
background-color: var(--Primary);
display: flex;
align-items: center;
padding: 0px 10px;
justify-content: space-between;
box-sizing: border-box;

}
.comp-nav-nav ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.comp-nav-nav ul li{
    list-style: none;
    
}
a{
    color: var(--HIGHLIGHT);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comp-nav-port{
    color: var(--LUMINANCE, #EDE8F4);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase

}
.comp-nav-line{
width: 80%;
height: 5px;
flex-shrink: 0;
background-color:var(--SECONDERY);
border-radius: 10px;
}

  